<style>
    body{
        background-image:url("../../MyImages/1.jpg");
    }
</style>

 <div class="container" id="viewcar">
 	<span class="Images" ng-show="media.length == 0">No images are available for this model.</span>
     <div id="viewsections" class="carousel slide" data-ride="carousel" ng-show="media">

         <div class="carousel-inner" role="listbox">
             <carousel interval="myInterval">
                 <slide ng-repeat="m in media">
                     <img src={{m}} height="100%" width="100%" />
                 </slide>
             </carousel>
         </div>

     </div><br>
     <div>
         <button ng-click="addToFavorites()" class="btn btn-info pull-center">
             Add to Favorites
         </button>

         <button ng-click="subscribe()" class="btn btn-info" id="subscribe">
             Subscribe
         </button>

         <button type="submit" class="btn pull-right" ng-click="getDealersByZipcode(zip)">ZipCode</button>
         <input placeholder={{zipcode}} ng-model='zip' class="input-group pull-right">
     
            <br /><br />
         </div>
     <tabset justified="true">
         <tab heading="Price">
             <br>
             <table class="table table-striped table-hover table-responsive table-condensed">
                 <tbody>

                     <tr>
                         <td><h4>Pricing Details</h4></td>
                         <td><h4>Price</h4></td>
                     </tr>
                     <tr>
                         <td>Base MSRP:</td>
                         <td>{{tmv.nationalBasePrice.baseMSRP}}</td>
                     </tr>
                     <tr>
                         <td>Offered Price</td>
                         <td>{{tmv.offerPrice}}</td>
                     </tr>
                 </tbody>
             </table>
         </tab>
         <tab heading="Features & Specs">
             <br>
             <table class="table table-striped table-hover table-responsive">
                 <tbody>
                     <tr>
                         <td>Car Type</td>
                         <td>{{features.body}}</td>
                     </tr>
                     <tr>
                         <td>Car Name</td>
                         <td>{{features.name}}</td>
                     </tr>
                     <tr>
                         <td>Drive Train</td>
                         <td>{{features.drivenwheels}}</td>
                     </tr>
                     <tr>
                         <td>Fuel Economy(city/Highway)</td>
                         <td>{{features.cityFuelEconomy}}/{{features.highwayFuelEconomy}}</td>
                     </tr>
                     <tr>
                         <td>Transmission</td>
                         <td>{{features.configuration}} {{features.cylinders}}</td>
                     </tr>
                     <tr>
                         <td>Engine Type</td>
                         <td>{{features.gasType}}</td>
                     </tr>
                     <tr>
                         <td>Fuel Type</td>
                         <td>{{features.fuelType}}</td>
                     </tr>
                     <tr>
                         <td>Transmission</td>
                         <td>{{features.transmissionnumberOfSpeeds}} Speed {{features.transmissionType}}</td>
                     </tr>
                 </tbody>
             </table>
         </tab>
         <tab heading="Reviews">
             <br>
             <accordion close-others="oneAtATime">

                 <accordion-group heading="Edmund's Review" ng-click="getReviews()">
                     <span class="reviewTitle" ng-show="!editorial">Oops!! Sorry!! Edmund hasn't posted any reviews for this model.</span>
                     <div ng-if="editorial">
                         <h5><b>Pros</b></h5>
                         <p>{{editorial.pros}}</p>
                         <h5><b>Con:</b></h5>
                         <p>{{editorial.con}}</p>
                         <h5><b>Edmund Says..</b></h5>
                         <p>{{editorial.edmundSays}}</p>
                         <h5><b>Safety</b></h5>
                         <p>{{editorial.safety}}</p>
                         <h5><b>PowerTrain</b></h5>
                         <p>{{editorial.powerTrain}}</p>
                         <h5><b>What's New</b></h5>
                         <p>{{editorial.whatsNew}}</p>
                     </div>
                 </accordion-group>

                 <accordion-group heading="Customer Review" ng-click="getConsumerReviews()">
                     <span class="reviewTitle" ng-show="consumerReviews.length == 0">Be the first one to review this product.</span>
                     <button class="btn btn-primary" ng-click="addReview()">Add Review</button><br><br>
                     <div ng-show="newReviewToAdd">
                         <div>
                             <span>
                                 Select your rating : <select ng-model="newReview.rating" required="required">
                                     <option selected="selected">1</option>
                                     <option>2</option>
                                     <option>3</option>
                                     <option>4</option>
                                     <option>5</option>
                                 </select>
                             </span>
                         </div><br>
                         <div>
                             <b>Review Title: </b><br>
                             <textarea id="reviewTitle" rows="1" cols="75" ng-model="newReview.title" placeholder="Title for your review"></textarea>
                         </div><br>
                         <div>
                             <b>Favorite Features: </b><br>
                             <textarea id="reviewArea" rows="4" cols="75" ng-model="newReview.favoriteFeatures" placeholder="Tell us about your what you like about this car"></textarea>
                         </div><br>
                         <div>
                             <b>Suggested Improvements: </b><br>
                             <textarea id="reviewArea" rows="4" cols="75" ng-model="newReview.suggestedImprovements" placeholder="Give us your suggestions"></textarea>
                         </div><br>
                         <div>
                             <b>Other Comments: </b><br>
                             <textarea id="reviewArea" rows="4" cols="75" ng-model="newReview.otherComments" placeholder="Any other comments"></textarea>
                         </div><br>
                         <div>
                             <button id="reviewSubmit" class="btn btn-info" ng-show="newReview.rating" ng-click="submitReview(newReview)"> Submit</button>
                             <button id="reviewSubmit" class="btn btn-info" ng-click="cancelReview()"> Cancel</button>
                         </div><br><br>
                     </div><br>
                     <table class="table table-striped table-hover table-responsive">
                         <tbody>
                             <tr ng-repeat="review in consumerReviews">
                                 <td>
                                     <h5><b>Title:</b> {{review.title}}</h5>
                                     <h5><b>Customer Rating:</b> {{review.averagerating}}</h5>
                                     <h5><b>Favorite Features</b></h5>
                                     <p>{{review.favoriteFeatures}}</p>
                                     <h5><b>Suggested Improvements</b></h5>
                                     <p>{{review.suggestedImprovements}}</p>
                                     <h5><b>Other Comments</b></h5>
                                     <p>{{review.otherComments}}</p>
                                     <br>
                                     <p>Authored by: {{review.author}}</p>
                                 </td>
                             </tr>
                         </tbody>
                     </table>

                 </accordion-group>
             </accordion>
         </tab>
         <tab heading="Dealers">
             <br><br>
             <span class="Dealers" ng-show="dealers.length == 0">You don't have any dealers near this area.Search for a different location.</span>
             <div ng-show="details">

                 <div class="row">
                     <div class="col-sm-4">
                         <h4><b>Details: </b></h4>
                         <b>Dealer Name:</b> {{details.name}}<br /><br />
                         <b>Address:</b><br />
                         <i>{{details.address.street}}</i><br />
                         <i>{{details.address.city}}</i><br />
                         <i>{{details.address.stateName}}</i><br />
                         <i>{{details.address.zipcode}}, {{details.address.country}}</i><br /><br />
                         <b>Contact Information:</b><br />
                         Phone No. : <i>{{details.contactInfo.phone}}</i><br />
                         Website: <a href={{details.contactInfo.website}} target="_blank"><i>{{details.contactInfo.website}}</i></a><br /><br /><br />
                     </div>
                     <div class="col-sm-8">
                         <i>Sales Rating:</i><br />
                         <rating class="rating" ng-model="details.reviews.service.overallRating" max="5" readonly="true" on-leave="overStar = null"></rating>
                         <i>Service Rating: </i>{{details.reviews.service.overallRating}}
                     </div>
                 </div>
             </div>
             <table class="table table-striped table-hover table-responsive">
                 <tbody>
                     <tr ng-repeat="dealer in dealers">
                         <td>{{dealer.name}}</td>
                         <td>
                             <button ng-click="getDetails(dealer)" class="btn btn-primary pull-right" value="View Details">

                                 View Details
                             </button>
                             <br><br>
                             <button ng-click="addToCheckList(dealer)" class="btn btn-info pull-right" value="Add to CheckList">
                                 Add to checklist

                             </button>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </tab>
     </tabset>
     <br><br>
     </div>

