<style>
    body {
        background-image: url(../../MyImages/1.jpg);
    }
</style>

    <div class="container" id="profileContainer">
    <h4 id="myProfile">
        <b>Welcome to your profile {{currentUser.username}}!!</b>
    </h4><br /><br />
        <tabset justified="true">
            <tab heading="My Favorites"><br />
            <p>Click on the model name to view the dealers in your checklist.</p><br>
                <table class="table table-striped table-hover table-responsive table-condensed">
                    <tbody>
                        <tr ng-repeat="fav in favorites">
                            <td>
                                <button type="button" class="btn btn-success" ng-click="getDealers(fav); isCollapsed=!isCollapsed">
                                   {{fav.make}} {{fav.model}} {{fav.name}}
                                </button>
                                <div ng-if="favdealers==fav.dealers">
                                    <div collapse="isCollapsed">

                                        <div class="well well-lg" ng-repeat="dealer in favdealers">
                                            <a href={{dealer.website}} target=_blank ng-show="dealer">{{dealer.name}}</a>
                                            <button ng-click="removeDealer(fav, dealer)" class="btn btn-danger pull-right">Remove from Checklist</button>
                                        </div>

                                    </div>
                                </div>
                                <div ng-if="!(fav.dealers)">
                                    <div collapse="isCollapsed">
                                        <div class="well well-lg">
                                            <p>You have not added any dealers to your checklist!!</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button ng-click="removeCar(fav)" class="btn btn-danger pull-right">Remove from Favorites</button><br><br>
                                <a class="btn btn-primary pull-right" href="#/user/{{currentUser.email}}/make/{{fav.make}}/model/{{fav.model}}/year/{{fav.year}}/style/{{fav.styleid}}/zip/{{fav.zip}}">View Car Details</a>

                                <br><br>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </tab>
            <tab heading="My Reviews">
                <br />
                <table class="table table-striped table-hover table-responsive table-condensed">
                    <tbody>
                        <tr ng-repeat="review in myReviews">
                            <td>
                                <h5><b>Car: </b> {{review.stylename}}</h5>
                                <h5><b>Title:</b> {{review.title}}</h5>
                                <h5><b>Customer Rating:</b> {{review.averagerating}}</h5>
                                <h5><b>Favorite Features</b></h5>
                                <p>{{review.favoriteFeatures}}</p>
                                <h5><b>Suggested Improvements</b></h5>
                                <p>{{review.suggestedImprovements}}</p>
                                <h5><b>Other Comments</b></h5>
                                <p>{{review.otherComments}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </tab>
            <tab heading="My Subscriptions"><br /><br />
                <table class ="table table-striped table-hover table-responsive">
                    <tbody>
                        <tr>
                            <td width="55%"><b>Model Name</b></td>
                            <td width="20%"><b>Subscribed On</b></td>
                            <td width="25%"><b>Action</b></td>
                        </tr>


                        <tr ng-repeat="subscription in mySubscriptions">
                            <td width="50%">{{subscription.make}} {{subscription.model}} {{subscription.name}}</td>
                            <td width="25%">{{subscription.createdOn | date}}</td>
                            <td width="25">
                                <button class="btn btn-danger" ng-click="cancelSubscription(subscription._id)">Cancel Subscription</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </tab>
        </tabset>
        </div>
    